header {
    height: 30px;
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: flex-end;

}
p {
    margin: 10px;
}
#prof {
    width: 35px;
    height: 35px;
    border-radius: 50%;    
}
img {
    display: flex;
    margin: auto;
    margin-top: 10%;
    /*margin-bottom: 50%;*/
    justify-content: center;
    align-items: center;
}
